{% extends 'main.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url("{% static 'images/imm.png' %}");
                background-size: contain;
                background-size: cover;
           }

    </style>
</head>
<body >

    <div class="company">
    <form method="post">

        {% csrf_token %}
        {{ form }}
        <button type="submit">AddCompany</button>


    </form>
</div>
</body>
</html>
{% endblock %}